<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <div class="about section">
        <h2>About Us</h2>
        <p>Here you can write your own blog using the inbuilt editor and post the blog.</p>
        <br>
    </div>

    <br><br><br><br>
    <a href="https://www.flaticon.com/free-icons/blog" title="blog icons">Blog icons created by Freepik - Flaticon</a>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>